# fly.toml app configuration file generated for virus-scanner on 2025-12-01T14:08:23+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'virus-scanner'
primary_region = 'sin'

[build]
  [build.args]
    GO_VERSION = '1.24.4'

[env]
  PORT = '8081'
  TINI_SUBREAPER = '1'
  GO_ENV = 'production'

[http_service]
  internal_port = 8081
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  interval = "15s"
  timeout = "5s"
  grace_period = "10s"
  method = "GET"
  path = "/"
  protocol = "http"
  restart_limit = 0

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
